@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';


@theme {

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

}



/* İZGİOS ANA TASARIM */

@import "./dashboard.css";

@import "./izgios.css";

@import "./responsive.css";

@import "./araclar.css";




.plaka-alan{

    display:flex;

    align-items:center;

    gap:8px;

}



.tr-badge{

    background:#0057d9;

    color:white;

    font-size:12px;

    font-weight:700;

    padding:5px 7px;

    border-radius:4px;

}



.plaka-text{

    font-size:18px;

    font-weight:800;

    color:#111827;

    letter-spacing:.5px;

}